/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Small Screen */
@media only screen and (min-width: 200px) and (max-width: 800px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
      background: #007bff;
      width:100%;
      height:100%;
  }
  #large {
    display: none !important;
  }
  .title {
    position: sticky;
    position: -webkit-sticky;
    background: #007bff;
    top: 0;
    z-index: 1;
    width:100%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
  }
  .container {
    display: flex;
    position: relative;
    margin: 50px auto;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .container .content {
    width: 150px;
    padding: 5px;
    height: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
  }
  .img {
    position: relative;
    width: 100%;
    height:100px;
  }
  .img img {
    width:100%;
    height:100%;
  }
  .content button {
    width:100%;
    position:relative;
    height:50px;
    background: #007bff;
    border: 2px solid blue;
    border-radius: 5px;
    color: white;
  }
  .content button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
  }
}

/* Large Screen */ 

@media only screen and (min-width: 801px) and (max-width: 1440px) {
  html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #007bff;
  
  }
  #small {
    display: none !important;
  }
  
  .title {
    position: sticky;
    position: -webkit-sticky;
    background: #007bff;
    top: 0;
    z-index: 100;
    width:100%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  #carousel {
    position: relative;
    top: 30px;
    height: 350px;
    padding-top: 20px;
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    opacity: 1;
    background: white;
  }
  #carousel div img {
    width: 400px;
    transition: width 400ms;
     -webkit-user-drag: none;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     border-radius: 10px;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel img:hover {
    cursor: pointer; 
  }
  #carousel div.prev img {
    width: 300px;
    height: 200px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
    height: 140px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.selected img {
    width: 400px;
    height: 260px;
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
    height: 200px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
    height: 140px;
  }
  
  /*previous or next buttons css*/
  
  .buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
  }
  
  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
  .carousel button {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    background: white;
    color: #007bff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 0 0px 20px 20px;
  }
}

